* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: antiquewhite;
}

header {
    width: 100%;
    height: auto;
    display: flex;
    background-color: burlywood;
    justify-content: space-evenly;
    align-items: center;
}

#company-name {
    height: 90px;
    color: rgb(94, 50, 50);
    font-family: serif;
    font-size: 2rem;
    padding: 0 20px 20px 20px;
}

#nav {
    height: 10vh;
    width: 100vw;
    display: flex;
    background-color: burlywood;
    justify-content: space-evenly;
    align-items: center;
}

.nav-items {
    height: 45px;
    width: 12vw;
    font-size: 1.5rem;
    list-style-type: none;
    text-align: center;
}

li:hover {
    font-size: 1.9rem;
    background-color: antiquewhite;
    border-radius: 10px;
}

#one {
    height: 400px;
    max-width: 100vw;
    padding: 20px;
    background-image: url("https://images.unsplash.com/photo-1730020619632-28612c019d32?q=80&w=2000&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    overflow: auto;
}

#Welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
}

#tagline {
    display: flex;
    justify-content: center;
    font-size: 3rem;
}

#explore {
    width: 100%;
    height: fit-content;
    padding: 10px 50px;
    text-align: center;
    background-color: rgb(243, 206, 159);
    font-size: 1.3rem;
}

#services {
    width: 100%;
}

#our_services {
    width: fit-content;
    margin: auto;
    font-size: 3rem;
    margin-top: 30px;
}

#our_servicesicon {
    display: block;
    width: fit-content;
    margin: auto;
    font-size: 3rem;
}

#servicecontent {
    width: 100%;
    padding: 30px;
    height: fit-content;
    display: flex;
    justify-content: space-evenly;
}

.content {
    height: 300px;
    width: 23%;
    padding: 20px;
    background-color: rgb(243, 206, 159);
    text-align: center;
    font-size: 3rem;
    border-radius: 0 30px;
}

.content-heading {
    font-size: 1.5rem;
}

.content-lines {
    margin-top: 30px;
    font-size: 1.5rem;
}

#about-us-div {
    width: 100%;
    padding: 20px;
    align-items: center;
    display: flex;
    justify-content: center;
}

#about-us {
    height: fit-content;
    padding: 40px;
    width: 94%;
    background-color: rgb(243, 206, 159);
    text-align: justify;
}

#about-us-heading {
    text-align: center;
    font-size: 3rem;
    padding: 10px;
    margin-top: -25px;
}

#about-us-content {
    font-size: 1.3rem;
}

.section {
    width: 100%;
    height: 450px;
    padding-top: 17px;
    display: flex;
    justify-content: space-evenly;

}

#section-one {
    width: 42%;
    height: 400px;
    background-image: url("https://images.unsplash.com/photo-1453928582365-b6ad33cbcf64?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTJ8fGNvbXB1dGVyfGVufDB8fDB8fHwy");
    background-size: cover;
}

#section-two {
    width: 45%;
    height: 400px;
    padding: 30px;
    background-color: bisque;
    font-size: 1.2rem;
    text-align: justify;
}

#menu-toggle {
    display: none;
}

#footer {
    height: fit-content;
    width: 100%;
    background-color: burlywood;
    padding: 20px;
    font-size: 1rem;
    text-align: center;
}

.menu-btn i {
    display: none;
    cursor: pointer;
    color: rgb(94, 50, 50);
    margin-top: -50px;
}


@media(max-width:768px) {
    #nav {
        display: none;
        height: fit-content;
        text-align: center;
    }

    .nav-items {
        width: 100vw;
        font-size: 1.8rem;
        border: 3px solid antiquewhite;
    }

    header {
        display: block;
    }

    #one {
        width: 768px;
        height: 400px;
        padding: 20px;
    }

    #Welcome {
        font-size: 4rem;
    }

    #tagline {
        font-size: 2.6rem;
    }

    #our_services {
        font-size: 2rem;
        margin-top: 20px;
    }

    #our_servicesicon {
        font-size: 2rem;
    }

    #servicecontent {
        width: 100%;
        height: fit-content;
        display: inline-block;
    }

    .content {
        height: 300px;
        width: 100%;
        background-color: rgb(243, 206, 159);
        margin-top: 15px;
        text-align: center;
        font-size: 2rem;
        border-radius: 0 30px;
    }

    .content-heading {
        font-size: 1.2rem;
    }

    #about-us {
        height: fit-content;
        width: 100%;
        background-color: rgb(243, 206, 159);
    }

    .section {
        display: block;
    }

    #section-one {
        width: 100%;
    }

    #section-two {
        width: 100%;
        height: fit-content;
    }

    .section {
        display: block;
        height: auto;
    }

    .menu-btn i {
        display: block;
        font-size: 2rem;
        text-align: right;
        padding: 5px;
        margin-top: -70px;
    }
    #menu-toggle:checked~#nav {
        display: block;
    }
    
}